.not-found {
    text-align: center;
    margin: 139px 0;
  }
  
  .not-found .title h2 {
    color: #FF6060;
    font-size: 288px;
    font-weight: bold;
    margin: 139px 0;

  }
  
  .not-found .message p {
    font-size: 36px; 
    color: #FF6060;
    margin-bottom: 139px;
  }
  
  .not-found .link .home-link {
    text-decoration: none; 
    color: black; 
    text-decoration: underline;
  }

  @media (max-width: 760px) {
    .not-found {
        margin: 113px 0;
    }
  
    .not-found .title h2 {
      font-size: 96px; 
      margin: 113px 0;
    }
  
    .not-found .message p {
      font-size: 16px; 
      margin-bottom: 113px;
    }
  
    .not-found .link .home-link {
      font-size: 14px; 
    }
  }