.description-container {
  width: 50%;
  margin-right: 50px;
}

.description-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #FF6060;

}

.description-title {
  font-weight: bold;
  color: white;
}

.chevron {
  font-size: 20px;
  font-weight: bold;
  color: white;
  transform: rotate(180deg);
  padding-right: 30px;
}

.rotate {
  transform: rotate(0deg);
}


.description-container.open .description-content {
  display: block;
  background-color: aqua;
}

.chevron-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40px;
}