.footer {
  margin-top: auto; /* Supprime la marge en haut */
  margin-bottom: 0; /* Supprime la marge en bas */
  text-align: center; /* Centre le contenu horizontalement */
  background-color: black; /* Définissez la couleur de fond sur noir */
  width: 100%; /* Pour qu'il occupe toute la largeur */
  bottom: 0; /* Place le footer en bas de la page */
}

.footer-content {
  display: flex;
  flex-direction: column; /* Aligne les éléments verticalement */
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-top: 66px;
  margin-bottom: 29px;
}

.logo-footer {
  width: 122px;
  height: 40px;
}

.copyright {
  font-family: Montserrat, sans-serif; /* Utilise la police Montserrat */
  color: white; /* Couleur du texte */
  margin-top: 0, 41rem; /* Marge au-dessus du texte */
  padding-bottom: 1.25rem;
  margin-bottom: 27px;
  font-size: 24px;
}

@media only screen and (max-width: 760px) {
  .copyright {
    margin-bottom: 58px;
    max-width: 100px;
  }

  .logo-container {
    margin-bottom: 12px;
  }

  .copyright {
    font-size: 12px;
  }
}
