.property-title {
  margin-top: 30px; /* Add this line */
  margin-bottom: 20px;
}

.property-title h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #ff6060;
  margin-bottom: 4px;
  margin: 0;
}

.property-title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  margin: 0;
}

@media (max-width: 760px) {
  .property-title {
    margin-top: 15px;
  }

  .property-title h1 {
    font-size: 18px;
  }
  .property-title h2 {
    font-size: 14px;
  }
}
