/* styles.css */
ul {
  padding-inline-start: 0; /* Réglez le padding à gauche à 0 */
}

.header {
  padding: 10px;
  margin: auto; /* Centrer horizontalement */
  margin-left: 7%;
  margin-right: 7%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; /* Centrer horizontalement */
  max-width: 1240px;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 210px;
  height: 68px;
}

.nav-links {
  list-style: none;
  display: flex;
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  padding: 0px;
  margin-left: 43px;
  white-space: nowrap;
}

.nav-links a:-webkit-any-link {
  color: black;
}

.nav-item {
  margin-right: 57px;
}

.nav-links li:first-child {
  margin-right: 57px;
}

@media only screen and (max-width: 760px) {
  .nav-links {
    font-size: 12px; /* Taille de police réduite pour les mobiles */
    padding: 0;
    margin-bottom: 30px;
  }

  .nav-links li:first-child {
    margin-right: 27px;
  }

  .logo {
    width: 145px;
    height: 46px;
  }

  .header {
    margin-left: 5.6%;
    margin-right: 5.6%;
  }
}

@media only screen and (max-width: 1260px) {
}
